{{{ story.content._editable }}}
<div class="root container">
	{{#each meganav.body}}
		{{> (lookup . 'component') }}
	{{/each}}

	{{#each story.content.body}}
		{{> (lookup . 'component') }}
	{{/each}}
</div>
